.env
temp_videos
output_images
*_pycache_
ProbabilityForComputerScientists.pdf
*.log
*.tmp
*.temp
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
.vscode/
/frontend/frontend.py
backend\maths-ta.json